[submodule "LibRaw"]
	path = LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "LibRaw-cmake"]
	path = LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "exiftool"]
	path = exiftool
	url = https://github.com/exiftool/exiftool.git
[submodule "frontend/imgui"]
	path = frontend/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "frontend/glfw"]
    path = frontend/glfw
    url = https://github.com/glfw/glfw.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
